/* globals*/
* {
	box-sizing: border-box;
}

body {
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}
.container p {
	padding-top:170px;
	text-align:center;
	font-weight:bold;
	font-size:400%;
	position:relative;
	margin:0 auto;
}
.wrapper {
	
}


/* nav */

.menuBar {
	font-weight:bold;
}
.topnav {
    background-color: #F3F3F3;
    overflow: hidden;
}
.topnav a {
    float: right;
    display: block;
    color: #6D6D6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #DDDDDD;
    color: black;
}
.topnav a.active {
	background-color:#008CBA;
	color:white;
}
.container {
	height:100%;
	width:100%;
	background-image:url(skyline.jpg);
	background-size:cover;
}

.logo {
	float: left;
    display: block;
    background-color: #F3F3F3;
    color: #6D6D6D;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}